<div class="container">
    <a href="/all">Home</a>
    {{name}}

    {{#if next}}
        <a href="{{next}}">Next</a>
    {{/if}}
    <iframe src="{{canonicalUrl}}" width="100%" height="478" frameborder="0" allowfullscreen/>

</div>
